{% extends 'homepage.html' %}
{% block content %}
<center><h1>Posty</h1></center>

{% for p in posts %}
<div class="content">

        <center><h3><a href="{% url 'postdetails' pk=p.pk %}"><b> {{ p }}
        </b></a>{% if user == p.author %} <a href="{% url 'edit' pk=p.pk %}">  Edytuj</a><a href="{% url 'delete' pk=p.pk %}">  Usuń</a>{% endif %}</h3></center>

</div>
    {% endfor %}

{% if user.is_authenticated %}
<form method = "POST">
    {% csrf_token %}

        <center>
            <h1>Nowy post</h1>
        <label for = "title">Tytuł</label>
        <input type="text" id="title" name="title">


    <p>
        <textarea id="content" name="content" rows="4" cols="50" placeholder="treść..."></textarea>
    </p>
        <input type="submit" value="send">
        </center>
</form>
{% endif %}

{% endblock %}