{% extends 'homepage.html' %}
{% block content %}
<center><h1>Posty</h1></center>

{% for p in posts %}
<div class="content">

        <center><h3><a href="{% url 'postdetails' pk=p.pk %}"><b> {{ p }}
        </b></a>{% if user == p.author %} <a href="{% url 'edit' pk=p.pk %}">  Edytuj</a><a href="{% url 'delete' pk=p.pk %}">  Usuń</a>{% endif %}</h3></center>

</div>
    {% endfor %}

{% if user.is_authenticated %}
<center>
    {%include 'posts/includes/post_form.html'%}
    </center>
{% endif %}

{% endblock %}