{% extends 'homepage.html' %}
{% block content %}
<style> td, th { border: 1px solid black; } </style>

<div class="content">
    <center>
<table>
    <thead>
    <tr>
        <th>Imie</th><th>Nazwisko</th><th>Data urodzenia</th><th>Data śmierci</th>
    </tr>
    </thead>
{% for e in author_details %}


    <tr><td><h3>{{e.first_name}}</h3></td>
        <td><h3>{{e.last_name}}</h3></td>
        <td><h3> {{e.birth_date}} r.</h3></td>
        <td><h3>{{e.death_date}} r.</h3></td></tr>
    </table>
        </center>
</div>
{% endfor %}
    <div class="content">
                <center><h2>Lista książek:</h2></center>
{% for a in author_books %}
        <center><h3><a href="{% url 'book_details' pk=a.pk %}"><b>{{a.title}}</b></a></h3></center>
        {% endfor %}

</div>
{% endblock %}