{% load static %}
<html lang="pl">
<head>
    <title>Strona główna</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'library.css' %}">

</head>
<body>
    <div class="page-header">
        <h1><a href="/">Biblioteka</a></h1>
        <h2><a href="{% url 'books_list' %}">Lista ksiażek</a></h2>
        <h2><a href="{% url 'authors_list' %}">Lista autorów</a></h2>
    </div>
    <div class="content container">
            {% block content %}
            {% endblock %}
    </div>
</body>
</html>