body {
    padding-left: 15px;
}
.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.content h3, .content h3 a, .content h3 a:visited, .content h3 a:active {
    color: #4396de;
    font-size: 16pt;
    float: center;
    text-decoration: none;
}

h1, h2 a {
    font-family: 'Alumni Sans Inline One', cursive;
}

.menu, .menu:hover, .top-menu:visited {
    color: #ffffff;
    float: center;
    margin-left: 30;
    font-size: 26pt;
}