{% extends 'authors/homepage.html' %}
{% block content %}
<style> td, th { border: 1px solid black; } </style>

    <div class="content">
        <center>
<table>
    <thead>
    <tr>
        <th> tytuł </th><th> Autor </th><th> Rok wydania </th><th> Strony </th>
    </tr>
    </thead>
{% for e in book_details %}

    <tr>
        <td><h3> {{e.title}} </h3></td>
        <td><h3><b><a href="{% url 'details' pk=e.author.pk %}"> {{e.author}} </a></b></h3></td>
        <td><h3> {{e.year}} </h3></td>
        <td><h3> {{e.pages}} </h3></td>
    </tr>
    </table>
            <h3>Opis: {{e.description}} </h3>
        </center>
    </div>
{% endfor %}
{% endblock %}
